*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
    scroll-behavior:smooth;
}

:root{
    --bg-color: #0F0F0F;
    --second-bg-color: #1A1A1A;
    --main-color: #2563EB;
    --text-color: #F5F5F5;
}

body{
    background:var(--second-bg-color);
    color:var(--text-color);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px 10px 80px;
    background: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000;
}

.logo{
    font-size: 2rem;
    font-weight: 700;
    color:var(--text-color);
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.3s ease;
}

.logo:hover{
    transform: scale(1.05)
}
/* span {
    background: linear-gradient(90deg, #3b82f6, #0f172a);

} */

nav ul{
    display: flex;
    list-style: none;
    gap: 40px;
    transition: 0.3s;
}
nav ul li a{
    text-decoration: none;
    color:var(--text-color);
    font-size: 20px;
}

nav ul li:hover {
    color: white;
   text-decoration: underline;
}

section{
    width: 100%;
    min-height: 100vh;
    padding: 120px 5% 60px;
    background-color: #080808;
    color: white;
    text-align: center;
}

#home{
    background: var(--second-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.home-content{
    padding: 30px;
    line-height: 1.2;
}

.home-content h1{
    font-size: 4rem;
    margin: 10px 0;
}

.home-content h3{
    font-size: 1.5rem;
    color: #cfcfcf;
    margin-bottom: 20px;
}
#home p{
    font-size: 2rem;
    font-weight: 400;
}

.social-icons{
    display:flex;
    justify-content: center;
    gap:20px;
    margin:25px 0;
}

.social-icons a{
    font-size:30px;
    color:var(--main-color);
    transition:.3s;
}

.social-icons a:hover{
    transform:scale(1.05);
} 

.home-image img{
    width: 100%;
    max-width:500px;
    border-radius:50%;
    transition: .3s ease;

}

.home-image img:hover{
    transform: scale(1.05);
    
}



#about{
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

h2{
    font-size: 3rem;
    margin-bottom: 30px;
}

#about p{
   padding: 30px 80px;
   border: 1px solid aliceblue;
   border-radius: 15px;
   background: var(--second-bg-color);
    max-width:90%;
    font-size: 1.1rem;
    line-height: 1.9;
    color: var(--text-color);
    margin: 40px 0px;
}


.btn{
    display: inline-block;
    padding: 12px 30px;
    margin: 20px 10px;
    background: var(--main-color);
    color: white;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;
}

.btn:hover{
    transform:translateY(-3px) scale(1.05);
    background: var(--main-color)
}

#skills{
    background: var(--second-bg-color);
}
.skills-box{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact{
    background:var(--second-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 #contact-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    background: var(--second-bg-color);
}

.input-box{
    width: 100%;
    padding: 15px 20px;
    color: white;
    background: transparent;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
}


footer{
    width: 100%;
    background: var(--bg-color);
    color: white;
    padding: 40px 20px;
    text-align: center;
}

footer i{
    margin: 20px 10px;
    font-size: 25px;
}

footer ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;

}
footer ul li a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

footer a:hover{
    text-decoration: underline;
}

footer p{
    margin-top: 20px;
}





@media(max-width:768px){
    .logo{
        font-size: 1.5rem;
    white-space: nowrap;
    }

    #home{
        flex-direction:column-reverse;
        text-align:center;
        gap:40px;
    }

    .home-content{
        margin-left:0;
        padding:20px;
    }

    .home-content h1{
        font-size:2.8rem;
    }

    .home-image img{
        width:100%;
        max-width:300px;
    }

    .social-icons{
        justify-content:center;
    }

}











 
